<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>게시글 목록</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">

<nav>
<hr>

<span sec:authorize="isAuthenticated()">
	<b><font color="red">
	<span sec:authentication="principal.member.name"></span>
	</font></b> 님 환영합니다.........................
</span>
	<a sec:authorize="isAnonymous()" th:href="@{/system/login}">로그인</a><th:block sec:authorize="isAnonymous()" th:text="'/'"/><a sec:authorize="isAnonymous()" th:href="@{/member/createMember}">회원가입</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;&nbsp;
	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/adminPage}">회원관리</a>&nbsp;&nbsp;&nbsp;
	<a th:href="@{/}">HOME</a>&nbsp;&nbsp;&nbsp;
	<a sec:authorize="isAuthenticated()" th:href="@{'/member/' + ${#authentication.principal.member.id} + '/deleteMember'}" onclick="return confirm('정말 탈퇴하겠습니까?')">회원탈퇴</a>&nbsp;&nbsp;&nbsp;
<hr>
</nav>

<h1>게시글 목록</h1>

<hr>
<!-- 검색 시작 -->
<form th:action="@{/board/getBoardList}" method="get">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
	<tr>
		<td align="right">
			<select name="searchCondition" th:value="${gsc}">
				<option value="TITLE">제목</option>
				<option value="CONTENT">내용</option>
			</select>
			 	<input name="searchKeyword" type="text" th:value="${gsk}"/>
			<input type="submit" value="검색"/>
		</td>
	</tr>
</table>
</form>
<!-- 검색 종료 -->

<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
<tr>
	<th bgcolor="orange" width="50">번호</th>
	<th bgcolor="orange" width="400">제목</th>
	<th bgcolor="orange" width="100">작성자</th>
	<th bgcolor="orange" width="100">등록일</th>
	<th bgcolor="orange" width="50">조회수</th>
</tr>

<tr th:each="board : ${boardList}">
	<td th:text="${board.seq}" th:align="center">
	<td><a th:href="@{/board/getBoard(seq=${board.seq})}" th:text="${board.title}"></a></td>
	<td th:text="${board.member.name}" th:align="center">
	<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd HH:mm')}" th:align="center">
	<td th:text="${board.cnt}" th:align="center">
</tr>

</table>

<hr>

<form th:action="@{/board/getBoardList}" method="get">
	<input type="hidden" name="searchCondition" th:value="${gsc}">
	<input type="hidden" name="searchKeyword" th:value="${gsk}">
	<table th:align="center">
		<tr>
			<td><a th:href="@{/board/getBoardList(num=${currentPage > 5 ? (currentPage-1)/5*5+1-5 : 1})}">이전</a>&nbsp;</td>
			<td th:each="numb : ${#numbers.sequence((currentPage-1)/5*5+1, (currentPage-1)/5*5+1+4)}" th:if="${numb <= totalPages}">
				<input type="submit" name="num" th:value="${numb}">		
			</td>
			<td>&nbsp;<a th:href="@{/board/getBoardList(num=${(currentPage-1)/5 < (totalPages-1)/5 ? (currentPage-1)/5*5+1+5 : totalPages})}">다음</a></td>
        </tr>
    </table>
</form>


<!-- <th:block th:text="${gsk}"/> -->


<br>
<a th:href="@{/board/insertBoard}">게시글 등록</a>
</body>
</html>