<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Fastwon Board</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/js/FastValidChecker.js"></script>
	<script type="text/javascript" src="/js/commentCheck.js"></script>
	<style type="text/css">
		td {
		  word-break:break-all;
		}
		
		img {
			max-width: 500;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/css/entireDesign.css">
</head>

<body th:align="center">

<nav>
	<hr>
		<span sec:authorize="isAuthenticated()">
			<b><font color="red">
				<span sec:authentication="principal.member.name"></span>
			</font></b> 님 환영합니다.........................
		</span>
		<a sec:authorize="isAnonymous()" th:href="@{/system/login}">로그인</a><th:block sec:authorize="isAnonymous()" th:text="'/'"/><a sec:authorize="isAnonymous()" th:href="@{/member/createMember}">회원가입</a>		
		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/adminPage}">회원관리</a>&nbsp;&nbsp;&nbsp;
		<a th:href="@{/}">HOME</a>&nbsp;&nbsp;&nbsp;
		<a sec:authorize="isAuthenticated()" th:href="@{'/member/' + ${#authentication.principal.member.id} + '/myPage'}">마이페이지</a>&nbsp;&nbsp;&nbsp;
		<a sec:authorize="isAuthenticated()" th:href="@{/system/logout}" onclick="return confirm('정말 로그아웃 하시겠습니까?')">로그아웃</a>
	<hr>
</nav>

<h1>게시글 상세</h1>
<form th:action="@{'/board/' + ${#authentication.principal.member.id} + '/updateBoard'}" method="get">
	
	<input name="seq" type="hidden" th:value="${board.seq}">

<table th:align="center" th:cellpadding="0" th:cellspacing="0" th:width=500>
	<tr>
		<td class="tagBox"th:text="제목" width="80"></td>
		<td th:text="${board.title}"></td>
		
	</tr>
	<tr>
		<td class="tagBox"th:text="작성자"></td>
		<td th:text="${board.member.name}"></td>
	</tr>
</table>
		
		<img th:src="@{${board.photoUrl}}">
	
<table th:align="center" th:cellpadding="0" th:cellspacing="0" th:width=500>
	<tr>
		<td class="tagBox"th:text="내용" width="80">
		<td th:text="${board.content}" height=200>
			<!-- <textarea th:text="${board.content}" cols="40" rows="10"></textarea> -->
		</td>
	</tr>
	<tr>
		<td class="tagBox"th:text="등록일"></td>
		<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}">
	</tr>
	<tr>
		<td class="tagBox"th:text="조회수"></td>
		<td th:text="${board.cnt}"></td>
	</tr>
</table>
<br>
<input class="btn" th:if="${#authentication.principal.member.name} == ${board.member.name}" type="submit" value="게시글 수정">

</form>
<a th:href="@{/board/insertBoard}">글등록</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a th:if="${#authentication.principal.member.name == board.member.name} or ${#authentication.principal.member.role.name() == 'ROLE_ADMIN'}"  th:href="@{'/board/' + ${#authentication.principal.member.id}+ '/deleteBoard?seq=' + ${board.seq}}" onclick="return confirm('글을 삭제하겠습니까?')">글삭제</a>&nbsp;&nbsp;&nbsp;
<a th:href="@{/board/getBoardList}">글목록</a>

<hr>

<h2>댓글</h2>
<table th:align="center" th:cellpadding="0" th:cellspacing="0">
<tr>
	<th class="tagBox" width="50">작성자</th>
	<th class="tagBox" width="400">내용</th>
	<th class="tagBox" width="150">등록일</th>
	<th class="tagBox" width="50" colspan="2"></th>
</tr>
<tr th:each="cmt : ${commentList}">
	<td th:text="${cmt.cmtWriter}"></td>
	<td>
		<form name="uForm" th:action="@{/comment/updateComment}" method="post" onsubmit="return checkUpdateValid(this)">
			<input name="cmtId" type="hidden" th:value="${cmt.cmtId}">
			<table th:width="400">
				<tr>
					<td colspan="2">
						<textarea th:if="${#authentication.principal.member.name} == ${cmt.cmtWriter} and ${chkUpdate == cmt.cmtId}" name="cmtContent" th:text="${cmt.cmtContent}" cols="54" maxlength="100"></textarea>
						<th:block th:if="${#authentication.principal.member.name} != ${cmt.cmtWriter} or ${chkUpdate != cmt.cmtId}" th:text="${cmt.cmtContent}"></th:block>
					</td>
					
				</tr>
				<tr th:if="${#authentication.principal.member.name} == ${cmt.cmtWriter} and ${chkUpdate == cmt.cmtId}">
					<td><input class="btn" type="submit" value="수정"></input></td>
					<td><a th:href="@{/board/getBoard(seq=${board.seq})}"><button class="btn2" type="button">닫기</button></a></td>
				</tr>
			</table>
		</form>
	</td>
	<td th:text="${#dates.format(cmt.cmtCreateDate, 'yy-MM-dd HH:mm:ss')}" th:align="center"></td>
	<td><a th:if="${#authentication.principal.member.name} == ${cmt.cmtWriter}" th:href="@{/board/getBoard(seq=${board.seq}, chkUpdate=${cmt.cmtId})}"><button class="btn" type="button">수정</button></a></td>
	<td><a th:if="${#authentication.principal.member.name == cmt.cmtWriter} or ${#authentication.principal.member.role.name() == 'ROLE_ADMIN'}"  th:href="@{/comment/deleteComment(cmtId=${cmt.cmtId}, board.seq=${cmt.board.getSeq()})}" onclick="return confirm('댓글을 삭제하겠습니까?')">삭제</a></td>
</tr>
</table>


<form th:action="@{/board/getBoard}" method="get">
	<input name="board" type="hidden" th:value="${board.seq}">
	<th:block th:each="numb : ${#numbers.sequence(1, totalPages)}">
		<input type="submit" name="cmtPage" th:value="${numb}" th:classappend="${numb == currentPage ? 'current' : ''}">		
	</th:block>
</form>

<hr>

<form name="cmtForm" th:action="@{/comment/insertComment}" method="post" onsubmit="return checkValid()">
	<input name="board" type="hidden" th:value="${board.seq}">
<table th:align="center" th:cellpadding="0" th:cellspacing="0">
	<tr>
		<th class="tagBox"width="50">작성자</th>
		<th class="tagBox"width="400" align="center">내용</th>
		<td rowspan="2" align="center">
			<input class="btn" type="submit" value="댓글 등록">
		</td>
	</tr>
	<tr>
		<td><span sec:authentication="principal.member.name"></span></td>
		<td><textarea name="cmtContent" cols="54" rows="4" maxlength="100"></textarea></td>
	</tr>
</table>
</form>

</body>
</html>