<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>새 글 등록</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/js/FastValidChecker.js"></script>
	<script type="text/javascript" src="/js/InsertBoardCheck.js"></script>
	<script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('imagePreview').src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>

<body th:align="center">

<nav>
<hr>

<span sec:authorize="isAuthenticated()">
	<b><font color="red">
	<span sec:authentication="principal.member.name"></span>
	</font></b> 님 환영합니다.........................
</span>
	<a sec:authorize="isAnonymous()" href="system/login">로그인</a><th:block sec:authorize="isAnonymous()" th:text="'/'"/><a sec:authorize="isAnonymous()" href="member/createMember">회원가입</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;&nbsp;
	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/adminPage}">회원관리</a>&nbsp;&nbsp;&nbsp;
<a th:href="@{/}">HOME</a>

<hr>
</nav>

<h1>게시글 등록</h1>
<form name="isbForm" th:action="@{/board/insertBoard}" method="post" enctype="multipart/form-data" onsubmit="return checkValid()">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
	
	<tr>
		<td bgcolor="#CCCCFF" th:text="제목" width="80"></td>
		<td><input name="title" type="text" size="50" placeholder="두 글자 이상" maxlength="50"></td>
	</tr>
	<tr>
		<td bgcolor= "#CCCCFF" th:text="작성자"></td>
		<td><span sec:authentication="principal.member.name"></span></td>
	</tr>
	<tr> <!-- 새로운 행을 추가해 파일을 선택할 수 있는 입력 요소를 만듭니다. -->
        <td bgcolor="#CCCCFF" th:text="사진첨부"></td>
        <td><input type="file" name="photo" onchange='readURL(this);'></td>
    </tr>
    <tr> 
        <td bgcolor ="#CCCCFF">미리보기</td>
        <td><img id='imagePreview' src='#' alt='your image' /></td> 
    </tr>
	<tr>
		<td bgcolor="#CCCCFF" th:text="내용">
		<td><textarea name="content" cols="50" rows="10" maxlength="255"></textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="게시글 등록">
		</td>
	</tr>
</table>
</form>
<a th:href="@{/board/getBoardList}">글목록</a>
</body>
</html>