<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Fastwon Board</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/js/FastValidChecker.js"></script>
	<script type="text/javascript" src="/js/InsertBoardCheck.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/entireDesign.css">
</head>

<body th:align="center">

	<header>
		<div th:replace="/entire/head :: header"></div>
	</header>

<h1>게시글 등록</h1>
<form name="isbForm" th:action="@{/board/updateBoard}" method="post" enctype="multipart/form-data" onsubmit="return checkValid()">
	<input type="hidden" name="_method" th:value="put"/>
	<input type="hidden" name="category" th:value="${board.category}"/>
<table th:align="center" th:cellpadding="0" th:cellspacing="0">
	
	<tr>
		<td class="tagBox"th:text="제목" width="80"></td>
		<td><input name="seq" type="hidden" th:value="${board.seq}">
		<input name="title" type="text" size="50" th:value="${board.title}"></td>
	</tr>
	<tr>
		<td class="tagBox"th:text="작성자"></td>
		<td><span sec:authentication="principal.member.name"></span></td>
	</tr>
	<tr> <!-- 새로운 행을 추가해 파일을 선택할 수 있는 입력 요소를 만듭니다. -->
        <td colspan="2" align="center">
	        <img th:if="${board.photoUrl != null && !board.photoUrl.contains('.mp4') && !board.photoUrl.contains('youtube.com')}" th:src="@{${board.photoUrl}}">
		
			<video th:if="${board.photoUrl != null && board.photoUrl.contains('.mp4')}" controls autoplay>
		      <source th:src="@{${board.photoUrl}}" type="video/mp4">
		    </video>
			
			<iframe th:if="${board.photoUrl != null && board.photoUrl.contains('youtube.com')}" width='448' height='252' th:src="@{${board.photoUrl}}" frameborder='0' allowfullscreen></iframe>
	    </td> 
    </tr>
	<tr>
		<td class="tagBox"th:text="내용">
		<td><textarea name="content" cols="50" rows="10" th:text="${board.content}"></textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input class="btn" type="submit" value="게시글 수정"> <a th:href="@{/board/getBoard(seq=${board.seq})}"><button type="button">취소</button></a>
		</td>
	</tr>
</table>
</form>

    <div th:replace="/entire/foot :: foot"></div>
    
</body>
</html>