#commands:
#  01_wget_ffmpeg:
#    command: wget https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz -O /tmp/ffmpeg.tar.xz
#  02_mkdir_ffmpeg:
#    command: sudo mkdir /usr/local/ffmpeg
#  03_extract_ffmpeg:
#    command: sudo tar -xf /tmp/ffmpeg.tar.xz -C /usr/local/ffmpeg --strip-components 1
#  04_link_ffmpeg:
#    command: sudo ln -s /usr/local/ffmpeg/ffmpeg /usr/bin/ffmpeg
