<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
	<title>Fastwon System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/entireDesign.css">
</head>

<body th:align="center">

	<header>
		<div th:replace="entire/head :: header"></div>
	</header>

<h1>죄송합니다. 페이지에 대한 접근 권한이 없네요.</h1>
<h4><a th:href="@{/board/getBoardList}">글목록</a></h4>

    <div th:replace="entire/foot :: foot"></div>
    
</body>
</html>