<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Fastwon System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/entireDesign.css">
</head>

<body th:align="center">
<h1>로그인</h1>
<form method="post">
<table th:align="center" th:cellpadding="0" th:cellspacing="0">
	
	<tr>
		<td class="tagBox">아이디</td>
		<td><input type="text" name="username"/></td>
	</tr>
	<tr>
		<td class="tagBox">비밀번호</td>
		<td><input type="password" name="password"/></td>
	</tr>
	
	
	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="로그인"/>
		</td>
	</tr>
</table>
	<div th:if="error">
   		<p id="valid" style="color: red; font-size:12px;"><th:block th:text="${exception}"></p>
	</div>
</form>
</body>
</html>