<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Fastwon System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/js/FastValidChecker.js"></script>
	<script type="text/javascript" src="/js/myPageCheck.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/entireDesign.css">
	
	<script th:inline="javascript">
		var errorMessage = /*[[${errorMsg}]]*/ '';
			if (errorMessage) {
			  alert(errorMessage);
			}
	</script>
	
</head>

<body th:align="center">

<nav>
	<div th:replace="/entire/nav :: navBar"></div>
</nav>

<h1>회원정보</h1>
<form name="mpForm" th:action="@{/member/updateMember}" method="post" th:onsubmit="return checkValid()">
<table th:align="center" th:cellpadding="0" th:cellspacing="0">
	<th:block><input name="id" type="hidden" th:value="${member.id}"></th:block>
	<tr>
		<td class="tagBox">아이디</td>
		<td th:text="${member.id}"></td>
	</tr>
	<tr>
		<td class="tagBox">기존 비밀번호</td>
		<td><input type="password" name="password" placeholder="8자 이상 16자 이하로 입력하세요" maxlength="16" size="30"/></td>
	</tr>
	<tr>
		<td class="tagBox" >변경할 비밀번호</td>
		<td><input type="password" name="passwordSet" placeholder="8자 이상 16자 이하로 입력하세요" maxlength="16" size="30"/></td>
	</tr>
	<tr>
		<td class="tagBox">변경할 비밀번호 확인</td>
		<td><input type="password" name="passwordChk" size="30"/></td>
	</tr>
	
	<tr>
		<td class="tagBox">이름</td>
		<td th:text="${member.name}"></td>
	</tr>
	<tr>
		<td><input type="hidden" name="role" value="ROLE_MEMBER"></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input class="btn" type="submit" value="수정" onclick="return confirm('정보를 수정하시겠습니까?')"/>
		</td>
	</tr>
</table>
</form>
<br>
<hr>
<form name="mdForm" th:action="@{'/member/' + ${#authentication.principal.member.id}}" method="post" th:onsubmit="return chkForDelete()">
	<input type="hidden" name="_method" th:value="delete"/>
	<table>
		<tr>
			<td class="tagBox">비밀번호</td>
			<td><input type="password" name="password" placeholder="8자 이상 16자 이하로 입력하세요" maxlength="16" size="30"/></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<button class="btn2" onclick="return confirm('정말 탈퇴하겠습니까?') && confirm('진짜로 탈퇴하시겠습니까?')">회원탈퇴</button>
			</td>
		</tr>
	</table>
</form>

    <div th:replace="/entire/foot :: foot"></div>

</body>
</html>