<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Fastwon System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/js/FastValidChecker.js"></script>
	<script type="text/javascript" src="/js/SignUpCheck.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/entireDesign.css">
</head>

<body th:align="center">

<nav>
	<hr>
		<span sec:authorize="isAuthenticated()">
			<b><font color="red">
				<span sec:authentication="principal.member.name"></span>
			</font></b> 님 환영합니다.........................
		</span>
		<a sec:authorize="isAnonymous()" th:href="@{/system/login}">로그인</a><th:block sec:authorize="isAnonymous()" th:text="'/'"/><a sec:authorize="isAnonymous()" th:href="@{/member/createMember}">회원가입</a>		
		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/adminPage}">회원관리</a>&nbsp;&nbsp;&nbsp;
		<a th:href="@{/}">HOME</a>&nbsp;&nbsp;&nbsp;
		<a sec:authorize="isAuthenticated()" th:href="@{'/member/' + ${#authentication.principal.member.id} + '/myPage'}">마이페이지</a>&nbsp;&nbsp;&nbsp;
		<a sec:authorize="isAuthenticated()" th:href="@{/system/logout}" onclick="return confirm('정말 로그아웃 하시겠습니까?')">로그아웃</a>
	<hr>
</nav>

<h1>회원가입</h1>
<form name="signUpForm" th:action="@{/member/createMember}" method="post" th:onsubmit="return checkValid()">
<table th:align="center" th:cellpadding="0" th:cellspacing="0">
	
	<tr>
		<td class="tagBox">아이디</td>
		<td><input type="text" name="id" placeholder="5자 이상 10자 이하로 입력하세요" maxlength="10" size="30"/></td>
		<td><button type="button" onclick="checkDuplicate()">중복확인</button></td>
	</tr>
	<tr>
		<td class="tagBox" >비밀번호</td>
		<td><input type="password" name="password" placeholder="8자 이상 16자 이하로 입력하세요" maxlength="16" size="30"/></td>
	</tr>
	<tr>
		<td class="tagBox">비밀번호 확인</td>
		<td><input type="password" name="passwordChk" size="30"/></td>
	</tr>
	
	<tr>
		<td class="tagBox" >이름</td>
		<td><input type="text" name="name" maxlength="10"/></td>
		<td><button type="button" onclick="checkNameDuplicate()">중복확인</button></td>
	</tr>
	<tr>
		<td><input type="hidden" name="role" value="ROLE_MEMBER"></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="회원가입"/>
		</td>
	</tr>
</table>
</form>
</body>
</html>