<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>FASTWON</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/entireDesign.css">
</head>
<body th:align="center">

<nav>
	<div th:replace="/entire/nav :: navBar"></div>
</nav>

	<br>
	<h1 align="center"><a th:href="@{/}">FASTWON</a></h1>
	<hr>
	<p align="center"><a th:href="@{/board/getBoardList(category='GAME')}">글 목록 바로가기</a></p>
	<p align="center"><a th:href="@{/board/getBoardList(category='FOOTBALL')}">글 목록 바로가기</a></p>
	<p align="center"><a th:href="@{/board/getBoardList(category='MUSIC')}">글 목록 바로가기</a></p>
	<br>
	<hr>
	
	
	<h2>최근 일주일 조회수 TOP3</h2>
	
	<table>
		<tr>
			<th class="tagBox" width="50">번호</th>
			<th class="tagBox" width="400">제목</th>
			<th class="tagBox"  width="100">작성자</th>
			<th class="tagBox"  width="100">등록일</th>
			<th class="tagBox"  width="50">조회수</th>
		</tr>
	
		<tr th:each="board : ${boardList}">
			<td th:text="${board.seq}" th:align="center">
			<td><a th:href="@{/board/getBoard(seq=${board.seq})}" th:text="${board.title}"></a><img th:if="${board.photoUrl != null}" th:src="@{/uploads/photo_icon.png}" th:width="18"></td>
			<td th:text="${board.member.name}" th:align="center">
			<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd HH:mm')}" th:align="center">
			<td th:text="${board.cnt}" th:align="center">
		</tr>
	
	</table>
	
	
	<!-- <p id="remaining-session-time"></p>

    <script>
    function updateRemainingSessionTime() {
        fetch('/api/session/remaining-time')
            .then(response => response.text())
            .then(time => {
                // 남은 시간(밀리초 단위)을 초 단위로 변환하고 화면에 표시합니다.
                document.getElementById('remaining-session-time').innerText =
                    '남은 세션 시간: ' + Math.round(time / 1000) + '초';
            });
    }

    // 페이지가 로드된 후 매 5초마다 남은 세션 시간 업데이트
    window.onload = function() {
        setInterval(updateRemainingSessionTime, 5000);
    };
    </script> -->
    
    <div th:replace="/entire/foot :: foot"></div>
</body>
</html>