<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Fastwon</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/entireDesign.css">
</head>
<body th:align="center">

	<header>
		<div th:replace="/entire/head :: header"></div>
	</header>
	<div th:replace="/entire/fastLink :: fastLink"></div>
	
	<br>
	<h2>&lt;최근 일주일 조회수 TOP3&gt;</h2>
	<hr>
	<table>
		<tr>
			<th><h2>게임</h2></th>
			<th><h2>축구</h2></th>
		</tr>
		<tr>
			<td>
				<table>
					<tr>
						<th class="tagBox" width="50">번호</th>
						<th class="tagBox" width="400">제목</th>
						<th class="tagBox"  width="100">작성자</th>
						<th class="tagBox"  width="50">조회수</th>
					</tr>
				
					<tr  th:each="board : ${boardList1}">
						<td th:text="${board.seq}" th:align="center">
						<td>
							<a th:href="@{/board/getBoard(seq=${board.seq})}" th:text="${board.title}"></a>
							<img th:if="${board.photoUrl != null}" th:src="@{/uploads/photo_icon.png}" th:width="18">
							<th:block th:if="${board.commentList.size()} != 0" th:text="'[' + ${board.commentList.size()} + ']'">
						</td>
						<td th:text="${board.member.name}" th:align="center">
						<td th:text="${board.cnt}" th:align="center">
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th class="tagBox" width="50">번호</th>
						<th class="tagBox" width="400">제목</th>
						<th class="tagBox"  width="100">작성자</th>
						<th class="tagBox"  width="50">조회수</th>
					</tr>
				
					<tr th:each="board : ${boardList2}">
						<td th:text="${board.seq}" th:align="center">
						<td>
							<a th:href="@{/board/getBoard(seq=${board.seq})}" th:text="${board.title}"></a>
							<img th:if="${board.photoUrl != null}" th:src="@{/uploads/photo_icon.png}" th:width="18">
							<th:block th:if="${board.commentList.size()} != 0" th:text="'[' + ${board.commentList.size()} + ']'">
						</td>
						<td th:text="${board.member.name}" th:align="center">
						<td th:text="${board.cnt}" th:align="center">
					</tr>
				
				</table>
			</td>
		</tr>
		<tr>
			<th><h2>음악</h2></th>
			<th><h2>자유</h2></th>
		</tr>
		<tr>
			<td>
				<table>
					<tr>
						<th class="tagBox" width="50">번호</th>
						<th class="tagBox" width="400">제목</th>
						<th class="tagBox"  width="100">작성자</th>
						<th class="tagBox"  width="50">조회수</th>
					</tr>
				
					<tr th:each="board : ${boardList3}">
						<td th:text="${board.seq}" th:align="center">
						<td>
							<a th:href="@{/board/getBoard(seq=${board.seq})}" th:text="${board.title}"></a>
							<img th:if="${board.photoUrl != null}" th:src="@{/uploads/photo_icon.png}" th:width="18">
							<th:block th:if="${board.commentList.size()} != 0" th:text="'[' + ${board.commentList.size()} + ']'">
						</td>
						<td th:text="${board.member.name}" th:align="center">
						<td th:text="${board.cnt}" th:align="center">
					</tr>
				
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th class="tagBox" width="50">번호</th>
						<th class="tagBox" width="400">제목</th>
						<th class="tagBox"  width="100">작성자</th>
						<th class="tagBox"  width="50">조회수</th>
					</tr>
				
					<tr th:each="board : ${boardList4}">
						<td th:text="${board.seq}" th:align="center">
						<td>
							<a th:href="@{/board/getBoard(seq=${board.seq})}" th:text="${board.title}"></a>
							<img th:if="${board.photoUrl != null}" th:src="@{/uploads/photo_icon.png}" th:width="18">
							<th:block th:if="${board.commentList.size()} != 0" th:text="'[' + ${board.commentList.size()} + ']'">
						</td>
						<td th:text="${board.member.name}" th:align="center">
						<td th:text="${board.cnt}" th:align="center">
					</tr>
				
				</table>
			</td>
		</tr>
	</table>
	
	<a href="photo.html">모달 테스트용</a>
	<a href="youtube.html">유튜브 테스트용</a>
	
	
	
	
	<!-- <p id="remaining-session-time"></p>

    <script>
    function updateRemainingSessionTime() {
        fetch('/api/session/remaining-time')
            .then(response => response.text())
            .then(time => {
                // 남은 시간(밀리초 단위)을 초 단위로 변환하고 화면에 표시합니다.
                document.getElementById('remaining-session-time').innerText =
                    '남은 세션 시간: ' + Math.round(time / 1000) + '초';
            });
    }

    // 페이지가 로드된 후 매 5초마다 남은 세션 시간 업데이트
    window.onload = function() {
        setInterval(updateRemainingSessionTime, 5000);
    };
    </script> -->
    
    <div th:replace="/entire/foot :: foot"></div>
</body>
</html>